.Boulder {
  background-color: #d9ecff;
  padding-top: 30px;
  padding-bottom: 5px;
}

.whatIs {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .whatIs {
    max-width: 90%;
  }
}
