.divider {
  background-color: #316ba5;
  height: 0.125rem;
  margin: 4rem;
}
.divider--vertical {
  margin: 0rem;
  border-left: 1px solid #316ba5;
  width: 0.125rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 600px) {
  .divider {
    margin: 2rem;
  }
  .divider --vertical {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
