name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci -f
      - uses: nrwl/nx-set-shas@v3

      - run: npx nx format:check
      - run: npx nx affected -t lint,test,build --parallel=3